@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
:root {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
    /* font-synthesis: none; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    /* background-color: #f1faee; */
    
}
.gradient {
    background-image: linear-gradient(
      45deg,
      hsl(210deg 14% 83%) 0%,
      hsl(210deg 14% 86%) 8%,
      hsl(210deg 14% 88%) 17%,
      hsl(210deg 14% 90%) 25%,
      hsl(210deg 15% 93%) 33%,
      hsl(210deg 15% 95%) 42%,
      hsl(210deg 17% 98%) 50%,
      hsl(210deg 17% 98%) 58%,
      hsl(210deg 17% 98%) 67%,
      hsl(210deg 17% 99%) 75%,
      hsl(210deg 17% 99%) 83%,
      hsl(210deg 17% 100%) 92%,
      hsl(0deg 0% 100%) 100%
    );
  }

nav {
    margin-bottom: 100px;
}

.home-org-menu {
    width: 250px;
}

.signin-container {
    background-color: #ffffff;
}

.signin-btn {
    background-color: #4361ee;
}

.or-txt {
    /*width: 100%; */
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .or-txt span { 
     background:#fff; 
     padding:0 10px; 
 }

/* 
.form-input {
    border: 1px solid #8f8d8d;

 } */
a {
    font-weight: 500;
    /* color: #646cff; */
    /* text-decoration: inherit; */
}


/* a:hover { */


/* color: #535bf2; */


/* } */


/* body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
} */


/* h1 {
    font-size: 3.2em;
    line-height: 1.1;
} */


/* 
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */


/* @media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
